/* stylelint-disable no-descending-specificity */

/*
 * Block Styles.
 */

/*
 * Editor Styles – use when editor specific style specificity is required.
 */
html :where(.editor-styles-wrapper) {

	.block-editor-block-list {

		&__layout {

			.is-style-icon {

				a {
					padding: 0 !important;
				}

				.wp-block-button {

					&__link {
						display: flex;

						&::before {
							content: "";
							display: block;
							margin-right: 1rem;
							max-width: 24px;
							max-height: 24px;
							width: 100%;
							height: 24px;
							mask-size: cover;
						}


						&.has-primary-brand-background-color {

							&::before {
								background-color: var(--wp--preset--color--primary-brand) !important;
							}
						}

						&.has-secondary-brand-background-color {

							&::before {
								background-color: var(--wp--preset--color--secondary-brand) !important;
							}
						}

						&.has-accent-background-color {

							&::before {
								background-color: var(--wp--preset--color--accent) !important;
							}
						}

						&.has-headline-color-background-color {

							&::before {
								background-color: var(--wp--preset--color--headline-color) !important;
							}
						}

						&.has-text-color-background-color {

							&::before {
								background-color: var(--wp--preset--color--text-color) !important;
							}
						}

						&.has-transparent-background-color {

							&::before {
								background-color: var(--wp--preset--color--transparent) !important;
							}
						}

						&.has-tertiary-background-color {

							&::before {
								background-color: var(--wp--preset--color--tertiary) !important;
							}
						}

						&.has-quarternary-background-color {

							&::before {
								background-color: var(--wp--preset--color--quarternary) !important;
							}
						}

						&.has-quinary-background-color {

							&::before {
								background-color: var(--wp--preset--color--quinary) !important;
							}
						}

						&.has-senary-background-color {

							&::before {
								background-color: var(--wp--preset--color--senary) !important;
							}
						}

						&.has-septenary-background-color {

							&::before {
								background-color: var(--wp--preset--color--septenary) !important;
							}
						}

						&.has-octonary-background-color {

							&::before {
								background-color: var(--wp--preset--color--octonary) !important;
							}
						}

						&.has-nonary-background-color {

							&::before {
								background-color: var(--wp--preset--color--nonary) !important;
							}
						}

						&.has-denary-background-color {

							&::before {
								background-color: var(--wp--preset--color--denary) !important;
							}
						}

						&.has-ondenary-background-color {

							&::before {
								background-color: var(--wp--preset--color--ondenary) !important;
							}
						}

						&.has-duodenary-background-color {

							&::before {
								background-color: var(--wp--preset--color--duodenary) !important;
							}
						}

						&.has-tridenary-background-color {

							&::before {
								background-color: var(--wp--preset--color--tridenary) !important;
							}
						}

						&.has-quadenary-background-color {

							&::before {
								background-color: var(--wp--preset--color--quadenary) !important;
							}
						}

						&.has-gray-80-background-color {

							&::before {
								background-color: var(--wp--preset--color--gray-80) !important;
							}
						}

						&.has-gray-60-background-color {

							&::before {
								background-color: var(--wp--preset--color--gray-60) !important;
							}
						}

						&.has-gray-40-background-color {

							&::before {
								background-color: var(--wp--preset--color--gray-40) !important;
							}
						}

						&.has-gray-05-background-color {

							&::before {
								background-color: var(--wp--preset--color--gray-05) !important;
							}
						}

						&.has-foreground-background-color {

							&::before {
								background-color: var(--wp--preset--color--foreground) !important;
							}
						}

						&.has-background-background-color {

							&::before {
								background-color: var(--wp--preset--color--background) !important;
							}
						}
					}
				}
			}

			.icon {

				&-default {

					.wp-block-button {

						&__link {

							&::before {
								mask: $icon-default;
							}
						}
					}
				}

				&-home {

					.wp-block-button {

						&__link {

							&::before {
								mask: $icon-home;
							}
						}
					}
				}

				&-auto {

					.wp-block-button {

						&__link {

							&::before {
								mask: $icon-auto;
							}
						}
					}
				}

				&-book {

					.wp-block-button {

						&__link {

							&::before {
								mask: $icon-book;
							}
						}
					}
				}

				&-case {

					.wp-block-button {

						&__link {

							&::before {
								mask: $icon-case;
							}
						}
					}
				}

				&-gear {

					.wp-block-button {

						&__link {

							&::before {
								mask: $icon-gear;
							}
						}
					}
				}

				&-tag {

					.wp-block-button {

						&__link {

							&::before {
								mask: $icon-tag;
							}
						}
					}
				}
			}


		}
	}

	.wp-block-button {

		&__link {
			background-color: var(--wp--preset--color--primary-brand);
			border-radius: 0.33rem;
			color: var(--wp--preset--color--white);

			&:hover,
			&:focus {
				filter: contrast(150%);
				outline: 2px solid var(--wp--preset--color--primary-brand);
				outline-offset: 2px;
			}
		}

		&.is-style-outline {

			.wp-block-button {

				&__link {
					background-color: var(--wp--preset--color--white);
					border-color: var(--wp--preset--color--primary-brand);
					border-radius: 0.33rem;
					color: var(--wp--preset--color--primary-brand);

					&:hover,
					&:focus {
						filter: contrast(150%);
						outline: 2px solid var(--wp--preset--color--primary-brand);
						outline-offset: 2px;
					}
				}

			}

		}

	}

}


/*
 *  Button Block.
 */
.wp-block-buttons {

	.wp-block-button {

		&__link {

			&.icon {
				pointer-events: none;
				display: flex;
				text-align: left;
				padding: 0;

				&::before {
					content: "";
					display: inline-block;
					margin-right: 1rem;
					max-width: 24px;
					max-height: 24px;
					width: 100%;
					height: 24px;
					mask-size: cover;
					background-color: currentcolor;
				}

				&-home {

					&::before {
						mask: $icon-home;
					}
				}

				&-default {

					&::before {
						mask: $icon-default;
					}
				}

				&-auto {

					&::before {
						mask: $icon-auto;
					}
				}

				&-book {

					&::before {
						mask: $icon-book;
					}
				}

				&-case {

					&::before {
						mask: $icon-case;
					}
				}

				&-gear {

					&::before {
						mask: $icon-gear;
					}
				}

				&-tag {

					&::before {
						mask: $icon-tag;
					}
				}

				&.has-primary-brand-background-color {

					&::before {
						background-color: var(--wp--preset--color--primary-brand) !important;
					}
				}

				&.has-secondary-brand-background-color {

					&::before {
						background-color: var(--wp--preset--color--secondary-brand) !important;
					}
				}

				&.has-accent-background-color {

					&::before {
						background-color: var(--wp--preset--color--accent) !important;
					}
				}

				&.has-headline-color-background-color {

					&::before {
						background-color: var(--wp--preset--color--headline-color) !important;
					}
				}

				&.has-text-color-background-color {

					&::before {
						background-color: var(--wp--preset--color--text-color) !important;
					}
				}

				&.has-transparent-background-color {

					&::before {
						background-color: var(--wp--preset--color--transparent) !important;
					}
				}

				&.has-tertiary-background-color {

					&::before {
						background-color: var(--wp--preset--color--tertiary) !important;
					}
				}

				&.has-quarternary-background-color {

					&::before {
						background-color: var(--wp--preset--color--quarternary) !important;
					}
				}

				&.has-quinary-background-color {

					&::before {
						background-color: var(--wp--preset--color--quinary) !important;
					}
				}

				&.has-senary-background-color {

					&::before {
						background-color: var(--wp--preset--color--senary) !important;
					}
				}

				&.has-septenary-background-color {

					&::before {
						background-color: var(--wp--preset--color--septenary) !important;
					}
				}

				&.has-octonary-background-color {

					&::before {
						background-color: var(--wp--preset--color--octonary) !important;
					}
				}

				&.has-nonary-background-color {

					&::before {
						background-color: var(--wp--preset--color--nonary) !important;
					}
				}

				&.has-denary-background-color {

					&::before {
						background-color: var(--wp--preset--color--denary) !important;
					}
				}

				&.has-ondenary-background-color {

					&::before {
						background-color: var(--wp--preset--color--ondenary) !important;
					}
				}

				&.has-duodenary-background-color {

					&::before {
						background-color: var(--wp--preset--color--duodenary) !important;
					}
				}

				&.has-tridenary-background-color {

					&::before {
						background-color: var(--wp--preset--color--tridenary) !important;
					}
				}

				&.has-quadenary-background-color {

					&::before {
						background-color: var(--wp--preset--color--quadenary) !important;
					}
				}

				&.has-gray-80-background-color {

					&::before {
						background-color: var(--wp--preset--color--gray-80) !important;
					}
				}

				&.has-gray-60-background-color {

					&::before {
						background-color: var(--wp--preset--color--gray-60) !important;
					}
				}

				&.has-gray-40-background-color {

					&::before {
						background-color: var(--wp--preset--color--gray-40) !important;
					}
				}

				&.has-gray-05-background-color {

					&::before {
						background-color: var(--wp--preset--color--gray-05) !important;
					}
				}

				&.has-foreground-background-color {

					&::before {
						background-color: var(--wp--preset--color--foreground) !important;
					}
				}

				&.has-background-background-color {

					&::before {
						background-color: var(--wp--preset--color--background) !important;
					}
				}
			}
		}
	}
}


.wp-block-button {

	&.has-size-large .wp-block-button {

		&__link {
			padding: 1.5rem 3rem;
		}
	}

	&.has-size-small .wp-block-button {

		&__link {
			padding: 0.25rem 1.5rem;
		}
	}

	.wp-block-button {

		&__link {
			background-color: var(--wp--preset--color--primary-brand);
			border-radius: 0.33rem;
			color: var(--wp--preset--color--white);

			&:hover,
			&:focus {
				filter: contrast(150%);
				outline: 2px solid var(--wp--preset--color--primary-brand);
				outline-offset: 2px;
			}
		}
	}

	&.is-style-blank {

		.wp-block-button {

			&__link {
				background-color: var(--wp--preset--color--transparent) !important;
				border-color: var(--wp--preset--color--transparent);
				border-radius: 0.33rem;
				color: var(--wp--preset--color--primary-brand) !important;

				// &::before {
				// 	color: currentColor !important;
				// }

				&:hover,
				&:focus {
					filter: contrast(150%);
					outline: 2px solid var(--wp--preset--color--primary-brand);
					outline-offset: 2px;
				}
			}


		}
	}

	&.is-style-outline {

		.wp-block-button {

			&__link {
				background-color: var(--wp--preset--color--white);
				border-color: currentcolor;
				border-radius: 0.33rem;
				color: var(--wp--preset--color--primary-brand);

				&:hover,
				&:focus {
					filter: contrast(150%);
					outline: 2px solid currentcolor;
					outline-offset: 2px;
				}
			}

		}

	}


	&.is-style-underline {

		.wp-block-button {

			&__link {
				background-color: var(--wp--preset--color--transparent);
				border-color: currentcolor;
				border-bottom: 2px solid;
				border-radius: 0;
				color: var(--wp--preset--color--primary-brand);
				padding: calc(0.667em + 2px) 0 calc(0.33em + 2px);

				&:hover,
				&:focus {
					filter: contrast(150%);
					outline: 2px solid currentcolor;
					outline-offset: 6px;
				}
			}

		}

	}

}

/*
 *  Card Container + Cards Blocks and breakpoint flex wrapping.
 */
.wp-block-bcgov-card-container {
	margin: 1rem;
	padding: 0;
	list-style: none;
}

.wp-block-bcgov-card {

	h1,
	h2,
	h3,
	h4,
	h5 {
		margin: 0;
		line-height: 1.3;
	}

	figure {
		padding: 0 !important;

		&.wp-block-image {
			margin: 0 !important;
		}
	}

	p {

		&:last-of-type {
			margin-bottom: 0;
		}
	}

	img {
		width: 100%;
		height: auto;
	}
}

@media screen {

	.wp-block-bcgov-card-container {
		display: flex;
		flex-direction: column;
		justify-content: center;
		flex-wrap: wrap;

		.wp-block-bcgov-card {

			@media screen and (min-width: $cards-mobile-breakpoint) {
				position: relative;
			}
			position: static;

			.align-to-bottom {

				@media screen and (min-width: $cards-mobile-breakpoint) {
					position: absolute;
					bottom: 0;
				}

				position: static;
				bottom: inherit;
			}

			.wp-block-button.align-to-bottom {

				@media screen and (min-width: $cards-mobile-breakpoint) {
					right: 50%;
					transform: translateX(50%);
				}

				right: inherit;
				transform: inherit;
			}

			> * {
				padding: 0 1rem 1rem;

				&:first-child {
					padding-top: 1rem;
				}
			}
		}

		&.no-margin {

			> * {
				margin: 0 !important;
			}
		}

		&.no-border {

			> * {
				border-width: 0 !important;
			}
		}

		&.thick-border {

			> * {
				border-width: 2px !important;
			}
		}
	}

	.wp-block-bcgov-card {
		margin: 1%;
		border-width: 0;
		border-style: solid;
		max-width: 650px;

		box-shadow: 5px 4px 18px -6px rgba($black, 0.3);

		> * {
			padding: 0 1rem 1rem;

			&:first-child {
				padding-top: 1rem;
			}
		}

		&.align-right {
			text-align: right;
		}

		&.align-left {
			text-align: left;
		}

		&.align-center {
			text-align: center;
		}
	}
}

*[data-type="bcgov/card"] {
	border: 1px solid var(--wp--preset--color--primary-brand);
	padding: 0.5rem;
	background-color: var(--wp--preset--color--white);
}

.wp-admin {

	.wp-block-bcgov-card-container {
		border: 2px solid var(--wp--preset--color--primary-brand);
		list-style: none;
		padding: 1rem;
		margin: 0.5rem 0;

		> * {
			width: 100%;
		}

		&::before {
			content: "Card Container";
			position: absolute;
			top: 0.25rem;
			left: 0.25rem;
			color: var(--wp--preset--color--components);
		}
	}
}

@media print {

	.wp-block-bcgov-card {
		display: flex;
		justify-content: flex-start;
		align-items: center;
		break-inside: avoid;
		border-bottom-style: dotted;
		border-bottom-width: 1px;
		border-bottom-color: #ccc;

		> * {
			margin-left: 1rem !important;
		}

		img {
			max-width: 100px;
		}

	}

}


/*
 *  Column.
 */
.wp-block-column {

	&.is-style-dropshadow {
		box-shadow: 0 0 12px rgba($black, 33%);
	}

}


/*
 *  Media + Text Cards.
 */
.wp-block-media-text {

	&.is-style-dropshadow {
		box-shadow: 0 0 12px rgba($black, 33%);
	}

}
