/* stylelint-disable no-descending-specificity */

/* General styles.
*
*/
body {
	font-family: BCSans, "Noto Sans", Verdana, Arial, sans-serif;
	color: $body-color;
}


.site-banner {
	margin-top: 0;
}

#post-content {
	margin-top: 0;
}

.wp-site-blocks {

	display: flex;
	flex-direction: column;
	min-height: 100vh;

	body.admin-bar & {
		min-height: calc(100vh - 32px);
	}

	main,
	#post-content {
		flex: 1;
	}

}
