/* stylelint-disable no-descending-specificity */

// Template editor specific styles.
html :where(.editor-styles-wrapper) {

	.bcgov-header-group {
		border-top: 0;
		border-left: 0;
		border-right: 0;
		border-bottom: 4px solid var(--wp--preset--color--primary-brand-yellow);
	}

}

// General header styles.
.wp-block-template-part {

	.site-header {

		&.bcgov-header-group {
			border-top: 0;
			border-left: 0;
			border-right: 0;
			border-bottom: 4px solid var(--wp--preset--color--primary-brand-yellow);
		}

		nav.wp-block-navigation {

			button {
				background: svg($hamburger-svg);
				flex: 1 auto;
				flex-direction: row-reverse;
			}

		}

		.wp-block-search {

			.wp-block-search {

				&__inside-wrapper {
					border: none;

					button {
						margin-left: 1px;
					}

				}

			}

		}

	}

}

