/* stylelint-disable no-descending-specificity */

// Template editor specific styles.
html :where(.editor-styles-wrapper) {

	.bcgov-header-group {
		border-top: 0;
		border-left: 0;
		border-right: 0;
		border-bottom: 4px solid var(--wp--preset--color--primary-brand-alt);
	}

}

// General header styles.
.wp-block-template-part {

	.bcgov-header-group {

		border-top: 0;
		border-left: 0;
		border-right: 0;
		border-bottom: 4px solid var(--wp--preset--color--primary-brand-alt);

		&.bcgov-site-header,
		.bcgov-site-header {

			padding-top: 0;
			padding-right: 20px;
			padding-bottom: 0;
			padding-left: 20px;


			&.fixed {

				@media (min-width: $breakpoint-sm) {
					position: fixed;
					z-index: 9;
					width: 100%;
				}
			}

			&.bcgov-header-group {

				.wp-block-columns {

					gap: 1.5rem;
					justify-content: space-between;
					margin: auto;
					margin-right: auto;
					margin-left: auto;

					.wp-block-site-logo {

						img {
							min-height: 2.66rem;
							margin-top: 0.33rem;
						}
					}

					.wp-block-column:first-of-type {
						padding-right: 0;
						padding-left: 0;
						padding-bottom: 0;

						@media (min-width: $breakpoint-sm) {
							padding-bottom: 20px;
						}
						width: 60%;
						max-width: 182px;
					}

					.wp-block-column:nth-of-type(2) {
						order: 2;

						@media (min-width: $breakpoint-sm) {
							order: unset;
						}

						h1,
						h2,
						h3,
						h4,
						h5,
						h6,
						p {
							margin: 0 0 1rem 0;

							@media (min-width: $breakpoint-sm) {
								margin: 1rem 0;
							}
						}
					}

					body.has-ribbon-menu & .wp-block-column:nth-of-type(3) {
						order: 3;
					}

					body.has-takeover-menu & .wp-block-column:nth-of-type(3) {
						max-width: 30px;
						margin: 32px 0 auto 30px;
					}
				}
			}

			nav.wp-block-navigation {

				button {
					background: svg($hamburger-svg);
					flex: 1 auto;
					flex-direction: row-reverse;
				}

			}

			.wp-block-search {

				.wp-block-search {

					&__inside-wrapper {
						border: none;
						margin: 0;
						padding: 0;

						button {
							margin-left: 1px;
						}

					}

				}

			}

		}
	}

}

