/* stylelint-disable scss/at-import-no-partial-leading-underscore */

// SCSS variables for styles
@import "../variables";

// SCSS variables for specific sites
@import "./sites/cleanbc/variables";

// Base Public Styles
@import "./header";
@import "./footer";
@import "./navigation-general";
@import "./navigation-language-switcher";
@import "./navigation-ribbon";
@import "./navigation-takeover";
@import "./general";
@import "./blocks";
@import "./patterns";

// Specific Block Styles
@import "./blocks/_block-card-breaks";
@import "../../scripts/admin/blocks/collapse/container";

// Specific CleanBC Pattern Styles
@import "./sites/cleanbc/_cleanbc--general";
@import "./sites/cleanbc/_cleanbc--navigation-override";
@import "./sites/cleanbc/_cleanbc--patterns-banners";
@import "./sites/cleanbc/_cleanbc--patterns-general";
@import "./sites/cleanbc/_cleanbc--patterns-header-footer";
@import "./sites/cleanbc/_cleanbc--query";
@import "./print";
