/* stylelint-disable no-descending-specificity */
/* stylelint-disable font-weight-notation */

/*
 * Editor Styles – use when editor specific style specificity is required.
 */
html body.wp-admin .editor-styles-wrapper {

	/*
	*  Takeover Menu Template Part.
	*/
	.is-style-takeover-menu {
		background-color: transparent;
	}
}

body:not(body.wp-admin):not(body.editor-styles-wrapper):not(body.error404) {

	padding-top: 4.5rem;
}

.bcgov-header-group.bcgov-site-header {

	border-bottom: 3px solid var(--wp--preset--color--accent);
	width: 100vw;
	z-index: 999;
	top: 0;

	body.admin-bar & {
		top: 32px;
	}
}

body.header-fixed,
body.header-hides {

	&.bcgov-header-group.bcgov-site-header {
		position: fixed;
	}
}

body.header-scroll {

	&.bcgov-header-group.bcgov-site-header {
		position: fixed;
	}
}


.wp-container-2 {
	display: none;

	@media (min-width: $breakpoint-sm) {
		display: initial;
	}
}

.wp-block-site-title {
	top: 0.25rem;
	position: relative;
	display: none;

	@media (min-width: $breakpoint-sm) {
		display: initial;
	}

	a {
		text-decoration: none;
	}
}

/*
 *  Language Switcher Block.
 */
select.pll-switcher-select {
	border: 1px solid currentcolor;
	background-color: transparent;
	margin: 1rem;
	padding: 0.25rem 0.5rem;
	color: var(--wp--preset--color--background);
	font-size: 1rem;
}


/*
 *  Ribbon Menu Template Part.
 */
.is-style-ribbon-menu {

	.is-offscreen {
		display: inherit;
	}

	.has-modal-open {
		position: fixed !important;
	}

	nav {
		padding: 0.75rem;
		justify-content: flex-end;

		@media (min-width: $breakpoint-sm) {
			padding: 0;
			justify-content: flex-start;
		}
	}

	select.pll-switcher-select {
		border: 0;
	}
}

body.has-ribbon-menu {

	.site-header {

		nav {
			padding: 1rem 2rem;

			@media (min-width: $breakpoint-sm) {
				padding: inherit;
			}
		}
	}

	.wp-block-navigation {

		a {

			&:hover,
			&:focus {
				background-color: rgba($black, 33%);
			}
		}

		&.has-background {

			.has-child {

				.wp-block-navigation {

					&__submenu-container {

						border: none;


						@media (min-width: $breakpoint-xs-sm) {

							border: 1px solid var(--wp--preset--color--background);

							a {

								&:hover,
								&:focus {
									filter: contrast(150%);
									text-decoration: underline;
								}
							}
						}

						.wp-block-navigation {

							&__submenu-container {

								@media (min-width: $breakpoint-xs) {
									left: 100%;
									top: 0;
								}
							}

							&__submenu-icon {

								transform: rotate(-90deg);
								margin-right: 0.5rem;

								@media (min-width: $breakpoint-sm) {
									transform: rotate(0deg);
								}
							}
						}
					}
				}
			}
		}
	}
}


/*
 *  Takeover Menu Template Part.
 */
.is-style-takeover-menu,
.is-style-ribbon-menu .has-modal-open {

	position: relative;
	z-index: 9;

	#nav-title {
		display: none;

		@media (min-width: $breakpoint-xs) {
			display: initial;
		}
		position: relative;
		top: -10px;
		right: -20px;
	}

	.wp-block-navigation {

		&__responsive-container {
			display: flex;
			left: 200vw;
			padding: 2rem 20px 2rem 2rem;
			transition: all 0.3s ease-in-out;

			body.admin-bar & {
				// margin-top: 20px;
			}

			@media (prefers-reduced-motion) {
				transition: none;
			}

			.wp-block-navigation-item {
				opacity: 0;
			}

			&.is-menu-open {
				left: 0%;

				.wp-block-navigation-item {
					opacity: 1;
				}
			}

			.wp-block-navigation {

				&__responsive-container-close {
					top: -10px;
					right: 0;

					@media (min-width: $breakpoint-lg) {
						right: 5px;
					}
				}
			}
		}

		&__responsive-dialog {
			max-width: 1440px;
			margin: auto;
			min-height: 80vh;
			display: flex;
		}

		&__responsive-container-content {
			flex-direction: revert;
			margin: auto;
		}

		&__container {
			flex-direction: row !important;
			flex-wrap: wrap;
			gap: 2.5rem !important;
			max-width: 1440px;
			width: 96vw;
			justify-content: center !important;
			align-items: flex-start !important;
			height: auto;
			margin: 0;
			padding: 0;

			.wp-block-navigation-item {
				justify-content: flex-start !important;
				align-items: flex-start !important;
				margin: 0 0 auto 0;
				max-width: 300px !important;

				a {
					font-weight: 700;
					border-bottom: 2px solid transparent;

					&:hover,
					&:focus {
						filter: contrast(150%);
						border-bottom: 2px solid currentcolor;
					}
				}

				ul {
					padding-left: 0 !important;
				}
			}

			> .wp-block-navigation-item {
				// Keep for testing.
				// border: 1px dashed lime;
				flex: 1;
				width: 100%;
				min-width: calc(100% - 6rem);
				min-height: 1rem;
				margin: 0.5rem 6rem 0 3rem;

				@media (min-width: $breakpoint-sm) {
					min-height: 3rem;
					margin: 2rem 0;
				}

				@media (min-width: $breakpoint-md) {
					max-width: 300px;
				}

				a {
					width: 100%;
					padding-bottom: 0.5rem;
					display: inline-block;
				}


				@media (min-width: $breakpoint-sm) {
					width: 100%;
					min-width: 48%;
				}

				@media (min-width: $breakpoint-md) {
					width: 100%;
					min-width: 31.33%;
				}

				ul,
				.wp-block-navigation {

					&__submenu-container {
						padding-top: var(--wp--style--block-gap, 0);

						a {
							font-size: calc(var(--wp--preset--font-size--normal) * 0.8) !important;
							font-weight: 400 !important;
							line-height: 2;
						}

						.wp-block-navigation {

							&__submenu-container {
								padding-right: 0;

								a {

									&::before,
									&::after {
										content: "\025b6";
										display: inline-block;
										margin: 8px 4px auto 0;
										font-size: 60%;
										transform: scale(0.66, 1);
									}

									&::after {
										content: " ";
									}
								}

								.wp-block-navigation {

									&__submenu-container {

										a {

											&::before {
												content: "\02501\025b6";
												display: inline-block;
											}
										}

										.wp-block-navigation {

											&__submenu-container {

												a {

													&::before {
														content: "\02501\02501\025b6";
													}
												}

												.wp-block-navigation {

													&__submenu-container {

														a {

															&::before {
																content: "\02501\02501\02501\025b6";
															}
														}
													}
												}
											}
										}
									}
								}
							}
						}
					}
				}
			}

		}

		&.has-background {

			.has-child {

				.wp-block-navigation {

					&__submenu-container {

						@media (min-width: $breakpoint-xs) {
							left: 100%;
							top: 0;
						}
					}
				}
			}
		}
	}
}


#nav-logo {
	position: absolute !important;
	visibility: hidden;
	margin: -25px -5px;
	max-width: 1440px;
	opacity: 0;
	transition: opacity 0.3s ease;
	transition-delay: 0.2s;
}

.is-menu-open #nav-logo {
	opacity: 1;
	visibility: visible;
}
