/* stylelint-disable no-descending-specificity */


/*
 * Editor Styles – use when editor specific style specificity is required.
 */
html :where(.editor-styles-wrapper) {

	/*
	*  Quote Pattern.
	*/
	.is-card-portrait-image-over {
		background-color: transparent;
	}
}

/*
 *  Quote Pattern.
 */
.is-card-portrait-image-over {

	.wp-block-column {
		border-top: 1rem solid var(--wp--preset--color--primary-brand-blue);
		border-radius: 1rem;
	}
}


/*
 *  Quote Pattern.
 */
.is-quote {

	.wp-block-quote {
		border-left: none;

		&::before {
			display: block;
			background-image: url(/assets/images/block-theme/quote-marks.svg);
			background-size: cover;
			content: "";
			height: 100px;
			width: 100px;
			left: -100px;
			overflow: visible;
			position: relative;
			margin-bottom: -70px;
		}
	}
}
