
/* stylelint-disable font-weight-notation */
/* stylelint-disable no-descending-specificity */

:root {

	.print-header {
		display: none;
	}

	@media print {

		@page {
			size: auto !important;
			margin: 10mm 10mm 12mm 10mm !important;
		}

		* {
			all: revert;
			aspect-ratio: unset !important;
			color: #333 !important;
			background: none !important;
			border: none !important;
			display: block !important;
			min-height: auto !important;
			margin: 0 !important;
			padding: 0 !important;
			position: static !important;
			pointer-events: none !important;
			text-align: left !important;

			&::after,
			&::before {
				display: none;
				content: "" !important;
				background: none !important;
				border: none !important;
				height: auto !important;
			}
		}

		body {
			display: grid;
			align-items: center;
			justify-content: center;
			grid-template-columns: 1fr;
			margin: 2rem auto !important;
			overflow: visible !important;
			max-width: calc(100% - 4rem) !important;

			* {
				page-break-after: auto !important;
				break-after: auto !important;
				overflow-wrap: break-word !important;
				all: revert;
				aspect-ratio: unset !important;
				color: #333 !important;
				background: none !important;
				border: none !important;
				display: block !important;
				width: 100% !important;
				min-height: auto !important;
				margin: 0 !important;
				padding: 0 !important;
				position: static !important;
				pointer-events: none !important;
				text-align: left !important;

				&::after,
				&::before {
					display: none;
					content: "" !important;
					background: none !important;
					border: none !important;
					height: auto !important;
				}
			}

			.wp-block-post-content {
				display: grid !important;
			}

			h1,
			h2,
			h3,
			h4,
			h5,
			h6 {
				all: revert;
				margin: 0 !important;
				margin-top: 1rem !important;
				font-family: "Times New Roman", serif;
				font-weight: 400 !important;
				line-height: 1.45 !important;
				break-inside: avoid !important;

				strong {
					font-weight: 400 !important;
				}
			}

			h1,
			.bcgov-body-content h1:not(.is-style-custom) {
				font-size: 3rem !important;
			}

			h2,
			.bcgov-body-content h2:not(.is-style-custom) {
				font-size: 2.5rem !important;
			}

			h3,
			.bcgov-body-content h3:not(.is-style-custom) {
				font-size: 2rem !important;
			}

			h4,
			.bcgov-body-content h4:not(.is-style-custom) {
				font-size: 1.5rem !important;
			}

			h5,
			.bcgov-body-content h5:not(.is-style-custom) {
				font-size: 1.25rem !important;
			}

			h6,
			.bcgov-body-content h6:not(.is-style-custom) {
				font-size: 1.15rem !important;
			}

			.bcgov-body-content p:not(.is-style-custom),
			.bcgov-body-content figure:not(.is-style-custom) p,
			.bcgov-body-content ul:not(.is-style-custom) li,
			p,
			li {
				margin-top: 1rem !important;
			}

			p,
			a,
			li,
			input,
			textarea,
			select {
				font-family: "Times New Roman", serif;
				font-size: clamp(1rem, calc(1rem + 0.5vw), 1.25rem) !important;
				break-inside: avoid !important;
			}

			a {
				display: inline !important;
				text-decoration: none !important;
				border-bottom: 1px solid rgba(#333, 0.25) !important;
			}

			figcaption,
			figcaption:not([contenteditable="true"]) {
				display: block !important;
				font-size: clamp(1rem, 0.25rem + 3.3333vw, 1.25rem) !important;
			}

			.breadcrumb-nav-section {
				order: -1;

				* {
					display: inline !important;
					font-size: clamp(1rem, 0.25rem + 3.3333vw, 1.25rem) !important;
				}
			}

			.wp-block-cover,
			.landing-cover-banner,
			.info-cover-banner,
			.level-3-banner,
			.level-2-banner {
				order: 0;
				min-height: unset !important;
				height: unset !important;

				&__inner-container {
					min-height: unset !important;
					height: unset !important;
				}
			}

			.post-content .alignfull {
				margin: 0 !important;
			}

			.wp-block-buttons {
				margin: 0.5rem 0 !important;
			}
		}

		head,
		style,
		script,
		header,
		footer,
		figure,
		img,
		svg,
		.skip-nav-menu,
		.territory-acknowledgement,
		.cleanbc-subfooter,
		.show-in-admin,
		.admin-placeholder {
			display: none !important;
		}

		.wp-block-cover {

			&__background {
				display: none !important;
			}
		}

		.wp-block-media-text {

			&__media {
				display: none !important;
			}
		}

		figure.print {
			display: block !important;

			&.wp-block-media-text {

				&__media {
					display: block !important;
				}
			}
		}

		img[data-print="true"],
		img.bcgov-logo,
		img.print {
			display: block !important;
			max-width: max-content !important;
			margin: 2rem 0 !important;
		}

		.print-header {
			// background: var(--wp--preset--color--foreground) !important;
			display: flex !important;
			justify-content: center;
			align-items: center;
			margin-bottom: 1rem !important;
			padding: 0 2rem !important;
			width: auto !important;

			.wp-block-site-title * {
				-webkit-print-color-adjust: exact !important;
				color: var(--wp--preset--color--background) !important;
				font-size: 2rem !important;
			}

			img {
				margin: 2rem 2rem 2rem 0 !important;
				max-width: 200px !important;
			}

			&.print-header-black-background {
				position: relative !important;

				img.black-background {
					display: block !important;
					position: absolute !important;
					margin: auto !important;
					padding: 0 !important;
					min-width: 100% !important;
					width: 80ch !important;
					z-index: -1;
				}

				.wp-block-site-title a {
					-webkit-print-color-adjust: exact !important;
					color: #fff !important;
					font-size: 2rem !important;
				}
			}

		}
	}
}
