.wp-block-template-part {

	&.site-header {

		.bcgov-header-group {
			border-top: 0;
			border-left: 0;
			border-right: 0;
		}

		nav.wp-block-navigation {

			button {
				background: svg($hamburger-svg);
				flex: 1 auto;
				flex-direction: row-reverse;
			}

		}

		.wp-block-search {

			.wp-block-search {

				&__inside-wrapper {
					border: none;

					button {
						margin-left: 1px;
					}

				}

			}

		}

	}

}
