.cache-loader
.DS_Store
node_modules
npm-debug.log
yarn-error.log
/vendor
tests/_output
.audit
.phpdocs
.phpunit.result.*
dist/scripts/*.php
dist/*.asset.php
package-lock.json
composer.lock
coverage
.idea