{
    "extends": "./node_modules/@bcgov/webpack-wordpress/.stylelintrc",
    "ignoreFontFamilies": [ "BCSans" ],
    "rules" : {
        "max-line-length": null,
        "font-weight-notation": "named-where-possible",
        "selector-id-pattern": null
    }
}