/* @media Breakpoints */
$breakpoint-xxs: 0;
$breakpoint-xs: 479px;
$breakpoint-xs-sm: 600px;
$breakpoint-sm: 782px;
$breakpoint-sm-md: 840px;
$breakpoint-wp-content-sm: $breakpoint-sm-md;
$breakpoint-md: 991px;
$breakpoint-md-lg: 1024px;
$breakpoint-lg: 1199px;
$breakpoint-xl: 1440px;
$breakpoint-wp-content-wide: $breakpoint-xl;

/* Legacy breakpoint variables. */
$cards-mobile-breakpoint: 767px;

// SCSS Colours.
$black: #111;
$body-color: #313132;

// To do: make this dynamic based on current root colour palette options.
// Currently overrides these values as needed in ./[site]/variables.scss
:root {
	--primary-brand-rgb: 14, 52, 104;
	--secondary-brand-rgb: 59, 90, 148;
	--accent-rgb: 246, 185, 0;
	--headline-color-rgb: 14, 52, 104;
	--text-color-rgb: 17, 17, 17;
	--tertiary-rgb: 189, 205, 112;
	--quarternary-rgb: 90, 143, 142;
	--quinary-rgb: 188, 207, 201;
	--senary-rgb: 159, 160, 139;
	--septenary-rgb: 108, 95, 78;
	--octonary-rgb: 242, 109, 111;
	--nonary-rgb: 242, 164, 136;
	--denary-rgb: 5, 166, 209;
	--ondenary-rgb: 218, 153, 1;
	--duodenary-rgb: 46, 88, 93;
	--tridenary-rgb: 255, 196, 139;
	--quadenary-rgb: 212, 186, 135;
	--gray-80-rgb: 101, 101, 101;
	--gray-60-rgb: 161, 161, 161;
	--gray-40-rgb: 199, 199, 199;
	--gray-05-rgb: 228, 228, 228;
	--foreground-rgb: 34, 34, 34;
	--background-rgb: 249, 249, 249;
}


/* FOR REFERENCE: Go Electric v1 Project colours. */
$sushigreen: #61a744;
$eucalyptus: #1d8045;
$bondiblue: #0090b5;
$bahamablue: #005d99;
$prussianblue: #002a4e;
$weborange: #f2a900;
$sunorange: #fdb414;
$anchororange: #eb7d3b;
$dawngray: #a49e99;
$gallerygray: #edebeb;

/* SCSS SVG files. */
$hamburger-svg: url(../../../assets/images/bcgov-hamburger.svg);
$icon-default: 	url(../../../assets/images/svg/button-icons/icon-default.svg);
$icon-home: 	url(../../../assets/images/svg/button-icons/icon-home.svg);
$icon-auto: 	url(../../../assets/images/svg/button-icons/icon-auto.svg);
$icon-book: 	url(../../../assets/images/svg/button-icons/icon-book.svg);
$icon-case:		url(../../../assets/images/svg/button-icons/icon-case.svg);
$icon-gear: 	url(../../../assets/images/svg/button-icons/icon-gear.svg);
$icon-tag: 		url(../../../assets/images/svg/button-icons/icon-tag.svg);

$menu-arrow: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNCIgaGVpZ2h0PSI4IiB2aWV3Qm94PSIwIDAgNCA4IiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPgo8cGF0aCBkPSJNMCA4VjBMNCA0TDAgOFoiIGZpbGw9IndoaXRlIi8+Cjwvc3ZnPg==);

$smallBannerDivider: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPCEtLSBHZW5lcmF0b3I6IEFkb2JlIElsbHVzdHJhdG9yIDI2LjAuMiwgU1ZHIEV4cG9ydCBQbHVnLUluIC4gU1ZHIFZlcnNpb246IDYuMDAgQnVpbGQgMCkgIC0tPgo8c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IgoJIHZpZXdCb3g9IjAgMCA4MCAxNyIgc3R5bGU9ImVuYWJsZS1iYWNrZ3JvdW5kOm5ldyAwIDAgODAgMTc7IiB4bWw6c3BhY2U9InByZXNlcnZlIj4KPHN0eWxlIHR5cGU9InRleHQvY3NzIj4KCS5zdDB7ZmlsbDojMDA4RkI0O30KCS5zdDF7ZmlsbDojN0ZCQzQyO30KPC9zdHlsZT4KPHBhdGggY2xhc3M9InN0MCIgZD0iTTAsMGg4MHYxN0gwVjB6Ii8+CjxwYXRoIGNsYXNzPSJzdDEiIGQ9Ik01My45LDBIODB2MTdIMzBMNTMuOSwweiIvPgo8L3N2Zz4K);

