<!-- wp:template-part {"slug":"global-header-container","theme":"bcgov-wordpress-block-theme"} /-->

<!-- wp:group {"tagName":"main","className":"bcgov-body-content","layout":{"inherit":true,"type":"constrained"}} -->
<main class="wp-block-group bcgov-body-content"><!-- wp:heading {"level":1} -->
	<h1>404</h1>
	<!-- /wp:heading -->
	
	<!-- wp:heading -->
	<h2>The page you are looking for cannot be found.</h2>
	<!-- /wp:heading -->
	
	<!-- wp:paragraph -->
	<p>The page you’re looking for might have been removed, had its name changed, or is temporarily unavailable.</p>
	<!-- /wp:paragraph -->
	
	<!-- wp:paragraph -->
	<p>Suggestions to help you find what you’re looking for:</p>
	<!-- /wp:paragraph -->
	
	<!-- wp:list -->
	<ul><!-- wp:list-item -->
	<li>Check that the web URL has been entered correctly</li>
	<!-- /wp:list-item -->
	
	<!-- wp:list-item -->
	<li>Go to our&nbsp;<a href="https://www2.gov.bc.ca/gov/content/home">Home Page</a>&nbsp;and browse through our topics for the information you want</li>
	<!-- /wp:list-item -->
	
	<!-- wp:list-item -->
	<li>Look for&nbsp;<a href="https://www2.gov.bc.ca/gov/content/home/services-a-z">Services</a>&nbsp;or&nbsp;<a href="https://www2.gov.bc.ca/gov/content/home/forms-a-z">Forms</a></li>
	<!-- /wp:list-item -->
	
	<!-- wp:list-item -->
	<li>Use the Search function at the top of this page</li>
	<!-- /wp:list-item --></ul>
	<!-- /wp:list -->
	
	<!-- wp:paragraph -->
	<p>Alternatively, you can contact the&nbsp;<a href="https://www2.gov.bc.ca/StaticWebResources/static/gov3/html/contact-form.html">Service BC Contact Centre</a>&nbsp;for general enquires Monday through Friday from 7:30am to 5pm Pacific Time.</p>
	<!-- /wp:paragraph -->
	
	<!-- wp:list -->
	<ul><!-- wp:list-item -->
	<li>Vancouver:&nbsp;<a href="tel:6046602421">604 660-2421</a></li>
	<!-- /wp:list-item -->
	
	<!-- wp:list-item -->
	<li>Victoria:&nbsp;<a href="tel:2503876121">250 387-6121</a></li>
	<!-- /wp:list-item -->
	
	<!-- wp:list-item -->
	<li>Toll-free within Canada and USA:&nbsp;<a href="tel:18006637867">1 800 663-7867</a></li>
	<!-- /wp:list-item -->
	
	<!-- wp:list-item -->
	<li>Outside of Canada/USA:&nbsp;<a href="tel:6046602421">604 660-2421</a></li>
	<!-- /wp:list-item --></ul>
	<!-- /wp:list -->
	
	<!-- wp:paragraph -->
	<p>Telephone Device for the Deaf (TDD )</p>
	<!-- /wp:paragraph -->
	
	<!-- wp:list -->
	<ul><!-- wp:list-item -->
	<li>Across B.C.:&nbsp;<a href="tel:711">711</a></li>
	<!-- /wp:list-item --></ul>
	<!-- /wp:list -->
	
	<!-- wp:paragraph -->
	<p>If you would like to email us,&nbsp;please contact&nbsp;<a href="mailto:servicebc@gov.bc.ca">servicebc@gov.bc.ca</a>.</p>
	<!-- /wp:paragraph -->
	
	<!-- wp:spacer {"height":"70px"} -->
	<div style="height:70px" aria-hidden="true" class="wp-block-spacer"></div>
	<!-- /wp:spacer --></main>
	<!-- /wp:group -->
	
	<!-- wp:template-part {"slug":"global-footer-container","theme":"bcgov-wordpress-block-theme"} /-->