<!-- wp:template-part {"slug":"global-header-container"} /-->

<!-- wp:group {"tagName":"main","className":"bcgov-body-content","layout":{"inherit":true,"type":"constrained"}} -->
<main class="wp-block-group bcgov-body-content"><!-- wp:heading {"level":1} -->
<h1>404</h1>
<!-- /wp:heading -->

<!-- wp:heading -->
<h2>The page you're looking for cannot be found</h2>
<!-- /wp:heading -->

<!-- wp:paragraph -->
<p>The page you’re looking for might have been removed, had its name changed or is temporarily unavailable.</p>
<!-- /wp:paragraph -->

<!-- wp:list -->
<ul><!-- wp:list-item -->
<li>Return to the <a href="https://digital.gov.bc.ca/" data-type="page" data-id="888">digital.gov.bc.ca homepage</a></li>
<!-- /wp:list-item --></ul>
<!-- /wp:list --></main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"global-footer-container"} /-->