<!-- wp:template-part {"slug":"header-takeover-nav","theme":"bcgov-wordpress-block-theme"} /-->

<!-- wp:template-part {"slug":"breadcrumb-nav","theme":"bcgov-wordpress-block-theme","lock":{"move":true,"remove":true}} /-->

<!-- wp:group {"lock":{"move":false,"remove":false},"layout":{"inherit":true}} -->
<div class="wp-block-group"><!-- wp:post-title {"level":1,"lock":{"move":false,"remove":false},"align":"wide"} /-->

	<!-- wp:post-content {"lock":{"move":false,"remove":false},"align":"wide","layout":{"inherit":true}} /--></div>
	<!-- /wp:group -->
	
	<!-- wp:template-part {"slug":"footer","theme":"bcgov-wordpress-block-theme","tagName":"footer","className":"site-footer"} /-->