<!-- wp:template-part {"slug":"global-header-container","theme":"bcgov-wordpress-block-theme"} /-->

<!-- wp:group {"tagName":"main","lock":{"move":true,"remove":true},"className":"bcgov-body-content"} -->
<main class="wp-block-group bcgov-body-content"><!-- wp:group {"lock":{"move":true,"remove":true},"layout":{"inherit":true,"type":"constrained"}} -->
	<div class="wp-block-group"><!-- wp:post-title {"level":1,"lock":{"move":true,"remove":true},"align":"wide"} /--></div>
	<!-- /wp:group -->
	
	<!-- wp:post-content {"lock":{"move":true,"remove":true},"layout":{"inherit":true}} /--></main>
	<!-- /wp:group -->
	
	<!-- wp:template-part {"slug":"global-footer-container","theme":"bcgov-wordpress-block-theme"} /-->