<!-- wp:template-part {"slug":"header-takeover-nav","theme":"bcgov-wordpress-block-theme"} /-->

<!-- wp:template-part {"slug":"breadcrumb-nav","theme":"bcgov-wordpress-block-theme"} /-->

<!-- wp:group {"tagName":"main","className":"bcgov-body-content","layout":{"inherit":true}} -->
<main class="wp-block-group bcgov-body-content"><!-- wp:spacer {"height":"50px"} -->
	<div style="height:50px" aria-hidden="true" class="wp-block-spacer"></div>
	<!-- /wp:spacer -->
	
	<!-- wp:heading {"level":1} -->
	<h1>Search results</h1>
	<!-- /wp:heading -->
	
	<!-- wp:spacer {"height":"16px"} -->
	<div style="height:16px" aria-hidden="true" class="wp-block-spacer"></div>
	<!-- /wp:spacer -->
	
	<!-- wp:query {"queryId":1,"query":{"perPage":"10","pages":"100","offset":0,"postType":"post","order":"desc","orderBy":"date","author":"","search":"","sticky":"","inherit":true},"displayLayout":{"type":"list"}} -->
	<div class="wp-block-query"><!-- wp:post-template -->
	<!-- wp:group {"layout":{"inherit":true}} -->
	<div class="wp-block-group"><!-- wp:post-title {"isLink":true} /-->
	
	<!-- wp:post-excerpt {"moreText":"View page"} /-->
	
	<!-- wp:spacer {"height":"16px"} -->
	<div style="height:16px" aria-hidden="true" class="wp-block-spacer"></div>
	<!-- /wp:spacer --></div>
	<!-- /wp:group -->
	<!-- /wp:post-template -->
	
	<!-- wp:spacer {"height":"50px"} -->
	<div style="height:50px" aria-hidden="true" class="wp-block-spacer"></div>
	<!-- /wp:spacer -->
	
	<!-- wp:group {"layout":{"inherit":true}} -->
	<div class="wp-block-group"><!-- wp:query-pagination {"layout":{"type":"flex","justifyContent":"space-between"}} -->
	<!-- wp:query-pagination-previous /-->
	
	<!-- wp:query-pagination-numbers /-->
	
	<!-- wp:query-pagination-next /-->
	<!-- /wp:query-pagination --></div>
	<!-- /wp:group --></div>
	<!-- /wp:query -->
	
	<!-- wp:spacer -->
	<div style="height:100px" aria-hidden="true" class="wp-block-spacer"></div>
	<!-- /wp:spacer --></main>
	<!-- /wp:group -->
	
	<!-- wp:template-part {"slug":"footer","theme":"bcgov-wordpress-block-theme","tagName":"footer","className":"site-footer"} /-->