<!-- wp:template-part {"slug":"header-takeover-nav","theme":"bcgov-wordpress-block-theme"} /-->

<!-- wp:template-part {"slug":"breadcrumb-nav","theme":"bcgov-wordpress-block-theme"} /-->

<!-- wp:group {"className":"bcgov-body-content"} -->
<div class="wp-block-group bcgov-body-content"><!-- wp:group {"layout":{"inherit":true}} -->
	<div class="wp-block-group"><!-- wp:post-title {"level":1,"align":"wide"} /-->
	
	<!-- wp:post-content {"align":"wide","layout":{"inherit":false}} /--></div>
	<!-- /wp:group --></div>
	<!-- /wp:group -->
	
	<!-- wp:template-part {"slug":"footer","theme":"bcgov-wordpress-block-theme","tagName":"footer","className":"site-footer"} /-->