/* stylelint-disable no-descending-specificity */
/* stylelint-disable selector-class-pattern */

/*
 * Accordion (Collapse) Block.
 */
.collapse-header {

	.collapse-title {

		span {
			display: none !important;

			&.count {
				background-color: rgba(var(--quinary-rgb), 20%);
				width: 2rem;
				height: 2rem;
				text-align: center;
				border-radius: 50%;
				font-size: 1.5rem;
				vertical-align: middle;
				padding: 0.4rem 0.33rem 0.2rem;
			}
		}
	}
}
