// General colours
$white: #fff;
$mineshaft: #313132;
$scorpiongrey: #585858;
$dovegrey: #70777c;
$dustygrey: #9a9a9a;
$porcelain: #f3f4f5;
$crimsonred: #d71d24; // was: #e01f26

// Government web colours
$midnightblue: #036;
$menuBlue: #1c2d64;
$generallink: #1a5a96;
$sanmarinoblue: #496ea7;
$headeryellow: #f4bb2d;
$curiousblue: #1e9dd3;

// Digital Government
$menuAncestorBackground: #f6f9fc;
$menuAncestorHighlight: #324166;
$highlightblue: #c0e6f7;


* {
	// Shadows from https://getcssscan.com/css-box-shadow-examples
	// #39
	--box-shadow: rgba(0, 0, 0, 0.1) 0 20px 25px -5px, rgba(0, 0, 0, 0.04) 0 10px 10px -5px;

	&::selection {
		background-color: $highlightblue;
	}
}
