/* stylelint-disable no-descending-specificity */
/* stylelint-disable selector-class-pattern */

footer {

	nav {

		a {
			color: currentcolor !important;
		}
	}

	a.back-to-top:focus {
		border-radius: 3px;
		outline: 2px solid $headeryellow;
		outline-offset: 2px;
	}
}

nav.footer-nav ul {
	display: flex;
	gap: 1rem;
	list-style: none;
	margin: 0;
	padding: 0;
}

body.has-ribbon-menu footer .wp-block-navigation a,
body.has-ribbon-menu footer .footer-nav a.current-menu-ancestor {
	background-color: transparent;

	&:hover {
		background-color: transparent;
		text-decoration: underline;
	}
}
