/* stylelint-disable no-descending-specificity */
/* stylelint-disable font-weight-notation */

.wp-block-navigation {
	// MEGA-MENU!!!
	ol,
	ul {
		box-sizing: border-box;
	}

	&__container {
		display: none;

		@media (min-width: $breakpoint-md-lg) {
			display: inherit;
		}

		> .wp-block-navigation-item {
			position: initial;

			>.wp-block-navigation {

				&__submenu-container {
					background-color: transparent !important;
					min-width: 100% !important;
					min-height: 250px;

					li {
						position: initial !important;

						a {
							min-width: 250px;
							max-width: 320px;
							border-right: 4px solid #f6f9fc;

							&:hover,
							&:focus {
								background-color: $menuAncestorBackground;
								border-right: 4px solid var(--wp--preset--color--primary-brand);
								color: var(--wp--preset--color--secondary-brand) !important;
								font-weight: bold;
							}
						}

						button {
							flex: 0 !important;
						}

						>.wp-block-navigation {

							&__submenu-container {

								// outline: 1px dashed red !important;
								left: 400px !important;
								top: 8px !important;
								position: absolute;
								min-width: 100%;
								height: unset;
								visibility: hidden;
								padding: 1.25rem 2.375rem;

								li.headline {
									display: block;
									font-size: 1.25rem;
									font-weight: 700;
									margin-left: -1rem;
									color: var(--wp--preset--color--primary-brand);
									text-decoration: underline;
								}

								>.wp-block-navigation-item {
									list-style: disc;
									display: list-item;

									>.wp-block-navigation-item {

										&__content {
											padding: 0;
											background-color: transparent;
											border-right: none;

											&:hover,
											&:focus {
												background-color: transparent;
												border-right: none;
												text-decoration: underline;
											}
										}
									}
								}
							}
						}
					}

					a {
						min-width: 325px;
					}

					padding: 3rem 0 1.5rem;

					&::before {
						isolation: isolate;
						content: "";
						display: block;
						background-color: $white;
						width: 200vw;
						position: absolute;
						overflow: hidden;
						left: 100%;
						right: 100%;
						height: 100%;
						z-index: -1;
						transform: translateX(-50%);
						top: 0.5rem;
						box-shadow: 0 6px 12px rgba(0, 0, 0, 0.33);
					}
				}
			}
		}
	}
}
