/* stylelint-disable no-descending-specificity */
/* stylelint-disable selector-class-pattern */

.mobile-only {
	display: inherit;
}

@media (min-width: $breakpoint-lg) {

	.mobile-only {
		display: none;
	}
}

.mm-menu {
	height: 100vh;
	height: 100dvh;
	width: 80vw;
	max-width: 440px !important;
	isolation: isolate;
}

body.mm-wrapper--opened {

	overflow: hidden;

	.mm-slideout {
		transform: translateX(max(440px)) !important;

		&::before {
			background-image: $menu-close;
			background-repeat: no-repeat;
			background-position: center;
			background-size: contain;
			left: 0.75rem;
			top: 1.5rem;
			content: "";
			display: block;
			position: fixed;
			z-index: 999;
			height: 1.5rem;
			width: 1.5rem;
		}
	}

	.mm-wrapper__blocker {
		opacity: 1 !important;
		z-index: 999;
	}

	.wp-block-site-logo {
		position: relative;
		left: 0.5rem;
		transition: position 0.3s ease;
		transition-delay: 0.4s;

		@media (min-width: $breakpoint-lg) {
			left: 0;
		}

	}
}

#logo-column {
	flex-basis: 45% !important;

	@media (min-width: $breakpoint-lg) {
		flex-basis: 100% !important;
	}
}

#main-menu {
	flex-basis: 33% !important;

	@media (min-width: $breakpoint-lg) {
		flex-basis: 100% !important;
	}
}

#mobile-menu-button {
	top: -0.5rem;
	position: relative;

	#mobile-menu-open {
		display: inherit;

		@media (min-width: $breakpoint-lg) {
			display: none;
		}

		a {
			border: 0 solid transparent !important;
			font-size: 0;
			height: 1.5rem;
			width: 1.5rem;

			&::before {
				content: "";
				background-image: $menu-open;
				background-size: contain;
				background-position: center;
				background-repeat: no-repeat;
				display: block;
				height: 1.5rem;
				width: 1.5rem;
			}

			// body.mm-wrapper--opened & {

			// 	&::before {
			// 		background-image: $menu-close;
			// 		position: fixed;
			// 		left: 0.75rem;
			// 		top: 1.5rem;
			// 	}
			// }
		}
	}
}

nav.mm-menu {
	border-right: 1px solid var(--wp--preset--color--gray-40);
	z-index: 9;
}
