/* stylelint-disable no-descending-specificity */
/* stylelint-disable selector-class-pattern */
/* stylelint-disable font-weight-notation */

body.has-ribbon-menu {

	.current-menu-ancestor {
		background-color: hsla(0, 0%, 7%, 0.33);

		&.has-secondary-accent-background-color {
			background-color: $menuAncestorHighlight !important;
			color: var(--wp--preset--color--white) !important;
		}
	}


	.has-modal-open {
		width: calc(100vw - 4rem);

		.wp-block-navigation__responsive-dialog {
			margin: 3rem auto auto;
		}

		.wp-block-navigation__container {
			gap: 0.5rem !important;

			>.wp-block-navigation-item {

				a {
					padding: 1rem 0.5rem;

					&:focus-visible,
					&:focus,
					&:hover {
						background-color: $white;
					}
				}

				@media (min-width: 860px) {

					&:focus-visible,
					&:focus,
					&:hover {
						background-color: hsla(0, 0%, 7%, 0.1);
					}
				}
			}
		}
	}


	@media (max-width: 860px) {

		.is-style-ribbon-menu {
			height: 0;

			#main-menu {
				display: flex;
				top: -3.75rem;
				position: relative;
				justify-content: flex-end;
				width: calc(100% - 2rem);
			}

			.has-modal-open .wp-block-navigation__container > .wp-block-navigation-item {
				flex: 1;
				margin: 0;
				min-height: 1rem;
				min-width: calc(100% - 6rem);
				width: 100%;
			}

			nav.wp-block-navigation {
				width: auto;
			}
		}

		.wp-block-navigation__responsive-container-close {
			top: -3.5rem;
		}
	}
}

.breadcrumbs-container {

	.breadcrumb-placeholder {
		min-height: 2.73rem;
		height: 100%;
	}

	.aioseo-breadcrumb:last-of-type {
		font-weight: 700;
	}
}

body.home {

	.breadcrumb-navigation-container {
		display: none;
	}
}

.wp-block-navigation {
	justify-content: flex-end !important;
	padding: 0.75rem !important;

	@media (min-width: 860px) {
		padding: 0 !important;
	}

	&__responsive-container {
		display: none !important;

		@media (min-width: 860px) {
			display: block !important;
		}
	}

	&__responsive-container.is-menu-open {
		display: block !important;
	}

	// MEGA-MENU!!!
	&__container > .wp-block-navigation-item {
		position: initial;

		>.wp-block-navigation {

			&__submenu-container {
				background-color: transparent !important;
				min-width: 100% !important;
				min-height: 250px;

				li {
					position: initial !important;

					a {
						min-width: 250px;
						max-width: 320px;
						// outline: 1px dashed lime !important;
					}

					button {
						flex: 0 !important;
					}

					>.wp-block-navigation {

						&__submenu-container {

							// outline: 1px dashed red !important;
							left: 400px !important;
							top: 1rem !important;
							position: absolute;
							min-width: 100%;

							li.headline {
								display: block;
								font-size: 1.25rem;
								font-weight: 700;
								margin-left: -1rem;
								color: var(--wp--preset--color--primary-brand);
								text-decoration: underline;
							}

							>.wp-block-navigation-item {
								list-style: disc;
								display: list-item;

								>.wp-block-navigation-item {

									&__content {
										padding: 0;
									}
								}
							}
						}
					}
				}

				a {
					min-width: 325px;
				}

				padding: 3rem 0 1.5rem;

				&::before {
					isolation: isolate;
					content: "";
					display: block;
					background-color: $white;
					width: 200vw;
					position: absolute;
					left: 100%;
					right: 100%;
					height: 100%;
					z-index: -1;
					transform: translateX(-50%);
					top: 0.5rem;
					box-shadow: 0 6px 12px rgba(0, 0, 0, 0.33);
				}
			}
		}
	}
}
