/* stylelint-disable no-descending-specificity */
/* stylelint-disable selector-class-pattern */

.aioseo-breadcrumbs {
	display: flex;
	flex-wrap: wrap;
	gap: 0.66rem;

	.aioseo-breadcrumb {
		white-space: nowrap;

		a {
			text-decoration: none;
		}
	}
}
