/* stylelint-disable no-descending-specificity */

// Template editor specific styles.
html :where(.editor-styles-wrapper) {

	.info-cover-banner {

		h1 {
			font-size: clamp(2rem, 0.25rem + 3.3333vw, 4rem);
			line-height: 1.25;
		}

		h2 {
			font-size: clamp(1rem, 0.25rem + 3.3333vw, 1.5rem);
		}
	}
}

// General header styles.
.info-cover-banner {

	.wp-block-columns {
		margin-bottom: 0;
		max-width: 1440px;
		width: 100%;
		margin-left: auto;
		margin-right: auto;

		h1 {
			font-size: clamp(2rem, 0.25rem + 3.3333vw, 4rem);
			line-height: 1.25;
		}

		h2 {
			font-size: clamp(1rem, 0.25rem + 3.3333vw, 1.5rem);
		}
	}
}
