/* stylelint-disable no-descending-specificity */

// General header styles.
.landing-cover-banner {

	.wp-block-cover {

		&__background {

			&.has-background-color,
			&.has-background-dim {
				filter: drop-shadow(16px 16px 20px var(--wp--preset--color--foreground));
				background: linear-gradient(100deg, rgba(var(--landing-cover-banner-bg), 1) 0%, rgba(var(--landing-cover-banner-bg), 1) 60%, rgba(var(--landing-cover-banner-bg), 0.33) 60%) !important;

				@media (min-width: $breakpoint-sm-md) {
					filter: drop-shadow(16px 16px 16px var(--wp--preset--color--foreground));
					background: linear-gradient(105deg, rgba(var(--landing-cover-banner-bg), 1) 0%, rgba(var(--landing-cover-banner-bg), 1) 50%, rgba(var(--landing-cover-banner-bg), 0.33) 50%) !important;
				}
				opacity: 1;
			}
		}

		&__inner-container {
			box-sizing: border-box;
			max-width: 720px;
			width: 50%;
			margin: 0 50% 0 auto;
			padding-right: 0;

			@media (min-width: $breakpoint-sm-md) {
				padding-right: 6rem;
			}

			h1 {
				color: var(--wp--preset--color--white);
				font-size: clamp(2rem, 0.25rem + 3.3333vw, 4rem) !important;
				line-height: 1.25;
				margin-bottom: 0;
			}

			h2 {
				color: var(--wp--preset--color--white);
				font-size: clamp(1rem, 0.25rem + 3.3333vw, 1.5rem) !important;
			}
		}
	}
}
