/* stylelint-disable no-descending-specificity */

// Template editor specific styles.
html body.wp-admin .editor-styles-wrapper {

	.home-cover-banner {

		.wp-block-button {

			&__link {
				background-color: var(--wp--preset--color--secondary-brand);
			}
		}

		h1 {
			font-size: clamp(2rem, 0.25rem + 3.3333vw, 4rem);
			line-height: 1.25;
		}

		h2 {
			font-size: clamp(1rem, 0.25rem + 3.3333vw, 1.5rem);
		}

		.wp-block-cover {

			&__inner-container {

				&::after {
					position: relative;
					height: 4rem;
					max-height: 4rem;
					min-height: 4rem;
					width: 3rem;
					bottom: -6rem;
					top: auto;
					left: calc(25% - 1.5rem);
					right: auto;
				}
			}
		}
	}


	.info-cover-banner {
		height: 100%;

		@media (min-width: $breakpoint-sm) {
			height: clamp(500px, 80vh - 80px, 800px);
		}

		h1 {
			font-size: clamp(2rem, 0.25rem + 3.3333vw, 4rem);
			line-height: 1.25;
		}

		h2 {
			font-size: clamp(1rem, 0.25rem + 3.3333vw, 1.5rem);
		}
	}

	.landing-cover-banner {

		height: 100%;

		@media (min-width: $breakpoint-sm) {
			height: clamp(500px, 80vh - 80px, 800px);
		}

		h1:not(.is-style-custom) {
			color: var(--wp--preset--color--white);
			font-size: clamp(2rem, 0.25rem + 3.3333vw, 3rem) !important;
			line-height: 1.25;
			margin-bottom: 0;
		}

		h2:not(.is-style-custom) {
			color: var(--wp--preset--color--white);
			font-size: clamp(1rem, 0.25rem + 3.3333vw, 1.5rem) !important;
			font-weight: 300;
			line-height: 1.5;
		}
	}

	.scroll-link-banner {

		max-width: 100% !important;
		padding-bottom: 0;

		.wp-block-group {
			width: 100%;

			.wp-block-columns {
				margin-bottom: 0;
				max-width: 1440px;
				width: 100%;
				margin-left: auto;
				margin-right: auto;

				.wp-block-column {
					display: flex;
					flex-direction: column;
					justify-content: space-between;
					align-content: flex-start;
					height: clamp(600px, 100vh - 80px, 800px);

					> * {
						width: 100%;
					}
				}

			}
		}

		.wp-block-buttons {

			display: flex;
			justify-content: flex-start;
			align-items: flex-end;

			.wp-block-button {

				&__link {
					flex: 1 0 auto;
				}
			}
		}
	}

	.wp-block-cover {
		overflow: clip;
	}
}

// Home Cover Banner header styles.
.home-cover-banner {
	height: auto;
	min-height: 50vh;
	flex-direction: column;
	padding: 0;

	@media (min-width: $breakpoint-sm) {
		height: clamp(600px, 100vh - 80px, 800px) !important;
		min-height: 80%;
	}

	.wp-block-cover {

		&__background {

			position: relative;

			@media (min-width: $breakpoint-sm) {
				position: absolute;
			}

			&.has-background-background-color {

				@media (min-width: $breakpoint-sm) {
					background: linear-gradient(100deg, rgba(255, 255, 255, 0.75) 0%, rgba(255, 255, 255, 0.75) 55%, rgba(255, 255, 255, 0) 55%) !important;
				}

				@media (min-width: $breakpoint-sm-md) {
					background: linear-gradient(105deg, rgba(255, 255, 255, 0.75) 0%, rgba(255, 255, 255, 0.75) 50%, rgba(255, 255, 255, 0) 50%) !important;
				}
				opacity: 1;
			}
		}

		&__inner-container {
			box-sizing: border-box;
			max-width: 1440px;
			margin: 4% auto 2rem 2.5%;
			width: calc(100% - 5%);
			padding-right: 0;
			display: flex;
			flex-direction: column;
			justify-content: flex-start;
			order: -1;

			@media (min-width: $breakpoint-sm) {
				margin: 4% auto auto 2.5%;
				order: 0;
				width: 50%;
			}

			@media (min-width: $breakpoint-sm-md) {
				margin: auto auto auto 2.5%;
				justify-content: center;
				width: 45%;
			}

			@media (min-width: $breakpoint-md) {
				width: 35%;
				margin: auto auto auto 5%;
			}

			@media (min-width: $breakpoint-lg) {
				margin: auto auto auto 10%;
			}


			body .bcgov-body-content & {

				h1 {
					font-size: clamp(2rem, 0.25rem + 3.3333vw, 4rem) !important;
					line-height: 1.25;
					margin: 0;
				}

				h2 {
					font-size: clamp(1rem, 0.25rem + 3.3333vw, 1.5rem) !important;
				}

				.wp-block-button {

					&__link {
						background-color: var(--wp--preset--color--secondary-brand);
					}
				}
			}

			&::after {
				content: " ";
				background-image: $landing-banner-down-arrow;
				background-size: contain;
				background-repeat: no-repeat;
				display: flex;
				position: relative;
				height: 2rem;
				max-height: 2rem;
				min-height: 2rem;
				width: 2rem;
				bottom: -1rem;
				top: auto;
				left: auto;
				right: auto;
				justify-content: flex-end;
				align-items: flex-end;
				z-index: 9;
				animation: bounce 2s 3;

				@media (min-width: $breakpoint-sm) {
					position: absolute;
					height: 4rem;
					max-height: 4rem;
					min-height: 4rem;
					width: 3rem;
					bottom: 3rem;
					top: auto;
					left: calc(25% - 1.5rem);
					right: auto;
				}
			}
		}

	}

	img.wp-block-cover {

		&__image-background {
			position: relative;

			@media (min-width: $breakpoint-sm) {
				position: absolute;
			}
		}
	}

	video.wp-block-cover {

		&__video-background {
			position: relative;

			@media (min-width: $breakpoint-sm) {
				position: absolute;
			}
		}
	}


}


@keyframes bounce {

	0%,
	20%,
	50%,
	80%,
	100% {
		transform: translate(0%, 0);
	}

	40% {
		transform: translate(0%, -30px);
	}

	60% {
		transform: translate(0%, -15px);
	}
}


// In-page Impact Banner with side image styles.
.in-page-impact-banner {

	.wp-block-media-text {
		border-radius: 1rem;

		> figure {
			height: 100%;

			img {
				border-radius: 1rem 1rem 0 0;

				@media (min-width: calc($breakpoint-xs-sm + 1px)) {
					border-radius: 1rem 0 0 1rem;
				}
				object-fit: cover;
				height: 100%;
			}
		}

		&.has-media-on-the-right > figure {

			img {
				border-radius: 1rem 1rem 0 0;

				@media (min-width: calc($breakpoint-xs-sm + 1px)) {
					border-radius: 0 1rem 1rem 0;
				}
			}
		}
	}
}


// In-page Cloud Banner with rounded icon styles.
.in-page-cloud-banner {

	position: relative;

	.wp-block-cover {
		border-radius: 1rem;
		padding: 1rem 2rem 0;

		@media (min-width: $breakpoint-sm) {
			padding: 1rem 3rem 2rem;
		}

		img {
			border-radius: 1rem;
		}

		.wp-block-cover {

			&__background {
				border-radius: 1rem;
			}
		}
	}

	.content-column {
		padding: 0;

		@media (min-width: $breakpoint-sm) {
			padding: 3rem;
		}
	}

	.image-column {
		background-color: var(--wp--preset--color--accent);
		border-radius: 50%;
	}
}


// In-page Strategies Banner with side image.
.in-page-strategies-banner {
	position: relative;

	.wp-block-cover {
		border-radius: 1rem;
		padding: 1rem 2rem 0;

		@media (min-width: $breakpoint-sm) {
			padding: 1rem 3rem 2rem;
		}

		img {
			border-radius: 1rem;
		}

		.wp-block-cover {

			&__background {
				border-radius: 1rem;
			}
		}
	}

	.content-column {
		padding: 0;

		@media (min-width: $breakpoint-sm) {
			padding: 3rem;
		}

		h2 {
			margin-top: 0;
		}

	}

	.image-column {
		aspect-ratio: 1 / 1;
		background-color: var(--wp--preset--color--accent);
		border-radius: 50%;
		display: flex;

		figure {
			margin: auto;
		}
	}
}

// Info Cover Banner header styles.
.info-cover-banner {

	height: 100%;

	@media (min-width: $breakpoint-sm) {
		height: clamp(500px, 80vh - 80px, 800px);
	}
	overflow: clip;

	.wp-block-columns {
		margin-bottom: 0;
		max-width: 1440px;
		width: 100%;
		margin-left: auto;
		margin-right: auto;

		h1 {
			font-size: clamp(2rem, 0.25rem + 3.3333vw, 4rem);
			line-height: 1.25;
		}

		h2 {
			font-size: clamp(1rem, 0.25rem + 3.3333vw, 1.5rem);
			margin-top: 0;
		}

		&.content-column {

			@media (min-width: $breakpoint-sm) {
				max-width: 50%;
			}
		}

		.image-column {
			aspect-ratio: 1 / 1;
			display: flex;
			border-radius: 50%;
			height: auto;
			flex-basis: 100% !important;
			max-width: 100vw;
			margin: auto auto 2rem auto;

			@media (min-width: $breakpoint-sm) {
				margin-bottom: auto;
				margin-right: 2rem;
				margin-left: auto;
				flex-basis: calc(45% - 4rem) !important;
				max-width: 45vw;
				width: 100%;
			}

			@media (min-width: $breakpoint-xl) {
				flex-basis: calc(33.333% - 4rem) !important;
				max-width: 35vw;
			}


			figure {
				margin: auto;
			}
		}
	}
}

// Landing Cover Banner header styles.
.landing-cover-banner {
	height: 100%;

	@media (min-width: $breakpoint-sm) {
		height: clamp(500px, 80vh - 80px, 800px);
	}
	overflow: clip;

	.wp-block-cover {


		&__background {

			&.has-background-color,
			&.has-background-dim {
				filter: drop-shadow(16px -8px 20px var(--wp--preset--color--foreground));
				background: linear-gradient(100deg, rgba(var(--landing-cover-banner-bg), 1) 0%, rgba(var(--landing-cover-banner-bg), 1) 60%, rgba(var(--landing-cover-banner-bg), 0.33) 60%) !important;
				overflow: hidden;

				@media (min-width: $breakpoint-sm-md) {
					filter: drop-shadow(16px -8px 16px var(--wp--preset--color--foreground));
					background: linear-gradient(105deg, rgba(var(--landing-cover-banner-bg), 1) 0%, rgba(var(--landing-cover-banner-bg), 1) 50%, rgba(var(--landing-cover-banner-bg), 0.33) 50%) !important;
				}
				opacity: 1;
			}
		}

		&__inner-container {
			box-sizing: border-box;
			max-width: 720px;
			width: 50%;
			margin: 0 50% 0 auto;
			padding-right: 0;

			@media (min-width: $breakpoint-sm-md) {
				padding-right: 6rem;
			}

			body .bcgov-body-content & {

				h1:not(.is-style-custom) {
					color: var(--wp--preset--color--white);
					font-size: clamp(2rem, 0.25rem + 3.3333vw, 3rem) !important;
					line-height: 1.25;
					margin-bottom: 0;
				}

				h2:not(.is-style-custom) {
					color: var(--wp--preset--color--white);
					font-size: clamp(1rem, 0.25rem + 3.3333vw, 1.5rem) !important;
					font-weight: 300;
					line-height: 1.5;
				}
			}
		}
	}
}

// Scroll Link Banner header styles.
.scroll-link-banner {

	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-start;
	background-color: var(--wp--preset--color--primary-brand);
	background-position: right center;
	position: relative;
	min-height: 0;

	.wp-block-group.alignwide {
		margin: 0 auto;
		max-width: 1440px;
		width: 100%;
	}

	&.top {
		background-position: right top;
	}

	&.bottom {
		background-position: right bottom;
	}
	background-repeat: no-repeat;
	background-size: 100%;

	@media (max-width: $breakpoint-md) {
		background-size: cover;
	}

	@media (max-width: $breakpoint-sm) {
		background-position: center;

		&.top {
			background-position: center top;
		}

		&.bottom {
			background-position: center bottom;
		}
	}

	width: 100vw;


	.wp-block-group {

		&__inner-container {

			display: flex;
			flex-direction: column;
			align-items: normal;
			justify-content: space-between;
			position: relative;
			min-height: 380px;
		}
	}

	.wp-block-buttons {

		display: flex;
		justify-content: flex-start;
		align-items: flex-end;

		@media (max-width: $breakpoint-sm) {

			flex-direction: column;
		}
		gap: 1rem;
		position: absolute;
		bottom: 0;
		width: 90%;

		@media (min-width: $breakpoint-sm) {
			width: 100%;
		}

		.wp-block-button {

			display: flex;
			align-items: flex-end;
			flex: 1;
			margin: 0;
			max-width: 40%;

			@media (max-width: $breakpoint-sm) {
				min-width: 40%;
			}

			.wp-block-button {

				&__link {

					border: none;
					border-radius: 0;
					border-bottom: 4px solid currentcolor;

					@media (min-width: $breakpoint-sm) {
						border-bottom: 12px solid currentcolor;
					}
					padding: 0.75rem;

					@media (max-width: $breakpoint-sm) {
						padding: 0.5rem;
					}
					text-align: left;
					width: 100%;

					&:hover,
					&:focus {
						filter: contrast(200%);
					}

					@media (max-width: $breakpoint-sm) {
						font-size: 3vw !important;
					}

					@media (max-width: $breakpoint-xs) {
						font-size: 3.66vw !important;
					}
				}
			}
		}
	}


	&.large {
		height: clamp(600px, calc(100vh - 80px), 800px);
	}

	max-width: 100%;

	h1 {
		color: var(--wp--preset--color--white) !important;
		font-size: 3.5rem;
		line-height: 1.5;
		margin: 0 50% 2rem 0 !important;

		text-shadow: 0 0 4px rgba($black, 0.8);
		background-clip: text;
		background-color: var(--wp--preset--color--tertiary);

		@media (max-width: $breakpoint-sm) {
			font-size: 8vw;
		}
	}
}


// Level 3 Dark Banner.
.level-3-banner {

	display: flex;
	height: 100%;

	@media (min-width: $breakpoint-sm) {
		height: clamp(500px, 80vh - 80px, 800px);
	}

	.content-column {

		@media (min-width: $breakpoint-sm) {
			max-width: 50%;
		}

		h1 {
			font-size: clamp(2rem, 0.25rem + 3.3333vw, 4rem);
			line-height: 1.25;
		}

		h2 {
			font-size: clamp(1rem, 0.25rem + 3.3333vw, 1.5rem);
		}
	}

	.image-column {
		aspect-ratio: 1 / 1;
		display: flex;
		background-color: var(--wp--preset--color--accent);
		border-radius: 50%;
		height: auto;
		flex-basis: 100% !important;
		max-width: 100vw;
		margin: auto auto 2rem auto;

		@media (min-width: $breakpoint-sm) {
			margin-bottom: auto;
			margin-right: 2rem;
			margin-left: auto;
			flex-basis: calc(45% - 4rem) !important;
			max-width: 45vw;
			width: 100%;
		}

		@media (min-width: $breakpoint-xl) {
			flex-basis: calc(33.333% - 4rem) !important;
			max-width: 35vw;
		}


		figure {
			margin: auto;
		}
	}
}


.region-climate-change-section {

	.wp-block-cover {
		padding: 0 2rem;
	}

	.wp-block-column {

		&.content-column {
			all: unset;
			padding: 2rem 2rem 1rem;
			width: 100%;

			@media (min-width: $breakpoint-sm) {
				max-width: 31.33%;
			}

			h3 {
				font-size: clamp(1.15rem, 0.25rem + 3.3333vw, 1.5rem) !important;
				margin: 0 0 0.5rem;
			}

			h4 {
				font-size: clamp(1.05rem, 0.25rem + 3.3333vw, 1.25rem) !important;
				margin: 0.5rem 0 0;
			}

			p {
				margin-top: 0.5rem;
			}
		}
	}
}
