/* stylelint-disable no-descending-specificity */


// Template editor specific styles.
html :where(.editor-styles-wrapper) {

	.cleanbc-subfooter a {
		color: var(--wp--preset--color--white);
	}

}

/* CleanBC Footer styles
*
*/

body.cleanbc {

	.cleanbc-subfooter {

		padding: 0;

		> *,
		a {
			color: var(--wp--preset--color--white);
		}

		.wp-block-columns {
			margin: 0 auto;

			&.logo-columns {

				padding: 0 2rem;

				@media (min-width: $breakpoint-lg) {
					padding: 0 auto;
				}

				.wp-block-column:first-of-type {
					width: 100%;

					@media (min-width: $breakpoint-sm) {
						flex-basis: 50%;
					}

					@media (min-width: $breakpoint-lg) {
						flex-basis: 70%;
					}
				}

				.wp-block-column:last-of-type {
					width: 100%;

					@media (min-width: $breakpoint-sm) {
						flex-basis: 50%;
					}

					@media (min-width: $breakpoint-lg) {
						flex-basis: 30%;
					}
				}
			}
		}

		nav {
			gap: 1.25rem;
			margin-top: 2rem;

			@media (min-width: $breakpoint-sm) {
				margin-top: 0;
			}
		}

		.wp-block-navigation {

			&__container {
				align-items: flex-start;
				margin-bottom: 2rem;
			}

			.wp-block-navigation-item {

				border-bottom: 0.625rem solid var(--wp--preset--color--tertiary);
				border-top: none;
				max-width: 90%;
				margin: 0 auto;

				@media (min-width: $breakpoint-sm) {
					flex: 1;
					border-bottom: none;
					border-top: 0.625rem solid var(--wp--preset--color--tertiary);
					max-width: 200px;
					margin: 0;
				}

				width: 100%;

				&:nth-of-type(2) {
					border-color: var(--wp--preset--color--quarternary);
				}

				&:nth-of-type(3) {
					border-color: var(--wp--preset--color--accent);
				}

				&:nth-of-type(4) {
					border-color: var(--wp--preset--color--tridenary);
				}

				&:nth-of-type(5) {
					border-color: var(--wp--preset--color--septenary);
				}

				&__content {
					padding: 0.75rem;
				}
			}
		}

		.wp-block-image {
			text-align: center;

			@media (min-width: $breakpoint-sm) {
				text-align: left;
			}
		}

	}

	// General footer style override.
	.wp-block-template-part {

		&.site-footer {
			border-top: 4px solid var(--wp--preset--color--quinary);
		}
	}


}
