/* stylelint-disable no-descending-specificity */


// Template editor specific styles.
html body.wp-admin .editor-styles-wrapper {

	.actions-accordion-header {

		h2,
		h3,
		h4 {
			color: var(--wp--preset--color--headline-color);
			margin-bottom: 0;
			padding-bottom: 0;
		}
	}

	.is-actions-query-loop {

		.wp-block-query {

			.block-editor-block-list {

				&__layout {
					padding: 0;

					figure {
						border-right: 10px solid var(--wp--preset--color--quinary);
						margin: 0;
					}
				}
			}
		}
	}
}

/* CleanBC Actions Toggle Query styles
*
*/
.actions-accordion-header {

	.collapse-header {

		.collapse-title {


			span {
				display: none !important;

				&.count {
					background-color: rgba(var(--quinary-rgb), 20%);
					width: 2rem;
					height: 2rem;
					text-align: center;
					border-radius: 50%;
					font-size: 1.5rem;
					vertical-align: middle;
					padding: 0.4rem 0.33rem 0.2rem;
				}
			}
		}
	}

	body .bcgov-body-content & {

		h2,
		h3,
		h4 {
			color: var(--wp--preset--color--headline-color);
			margin-bottom: 0;
			padding-bottom: 0;
		}
	}

	.taxonomy-post {

		&_tag {

			a {
				background-color: rgba(var(--primary-brand-rgb), 20%);
				border-radius: 0.25rem;
				display: inline-block;
				padding: 0.5rem 1rem;
				pointer-events: none;
				text-decoration: none;
			}
		}
	}
}


/* CleanBC Actions Toggle Query styles
*
*/
.actions-toggle-header {

	.active {
		background-color: var(--wp--preset--color--primary-brand) !important;
		color: var(--wp--preset--color--white) !important;
	}

	.wp-block-buttons {
		gap: 0.75rem;

		.wp-block-button {

			.wp-block-button {

				&__link {

					padding: 0.5rem 1rem;

					@media (min-width: $breakpoint-sm) {
						padding: calc(0.667em + 2px) calc(1.333em + 2px);
					}
				}
			}
		}

	}
}

.actions-toggle-query-loop {
	padding: 0;

	.hidden {
		display: none;
	}

	.is-content-column {
		padding: 0 2rem;

		@media (min-width: $breakpoint-xl) {
			padding: 0;
		}
	}

	.wp-block-post-title {
		margin: 2rem 0 1rem;
	}

	.wp-block-group {
		border-left: 10px solid var(--wp--preset--color--tertiary);
		padding: 1rem 2rem 2rem;
		margin-bottom: 2rem;
	}

	.wp-block-post-featured-image {
		margin: 0;
		padding: 0;

		@media (min-width: $breakpoint-sm) {
			max-height: 100%;
		}
		justify-content: stretch;
		display: flex;
		aspect-ratio: 16 / 9;

		img {
			max-width: 100%;
			width: 100%;
			vertical-align: middle;
			object-fit: cover;
			border-top: 10px solid var(--wp--preset--color--quinary);
			margin: auto;
			aspect-ratio: 16 / 9;

			@media (min-width: $breakpoint-sm) {
				border: none;
			}
		}

	}
}


/* CleanBC Query styles
*
*/
.wp-block-group {

	&.is-actions-query-loop {

		.wp-block-post-template {

			.wp-block-columns {
				padding: 0;
				margin: 0 0 2rem 0;

				h2,
				h3,
				h4 {
					margin: 0;
				}

				.wp-block-post-featured-image {
					border-right: 10px solid var(--wp--preset--color--quinary);
					margin: 0;
					object-fit: cover;

					img {
						object-fit: cover;
					}
				}
			}
		}
	}
}
