/* stylelint-disable no-descending-specificity */
/* stylelint-disable font-weight-notation */

/* General styles.
*
*/
body {

	.bcgov-body-content {

		h1:not(.is-style-custom),
		h2:not(.is-style-custom),
		h3:not(.is-style-custom),
		h4:not(.is-style-custom),
		h5:not(.is-style-custom),
		h6:not(.is-style-custom) {
			font-weight: 700;
		}
	}

	&.cleanbc {

		.bcgov-header-group.bcgov-site-header.bcgov-site-header {
			transform: translateY(0%);
			transition: all 0.3s ease;
		}

		.back-to-top {
			bottom: 5.25rem;

			@media (min-width: $breakpoint-sm) {
				bottom: 23.25rem;
			}
		}

		.help {

			br {
				display: none;

				@media (min-width: $breakpoint-md) {
					display: block;
				}
			}
		}

		.wp-block-separator {
			margin: 0;

			&.has-background:not(.is-style-wide):not(.is-style-dots) {
				height: 6px;
				width: 280px;
			}
		}
	}

	&.home:not(body.wp-admin) .three-up-card-feature.home-bottom {
		background-image: url(../../../assets/images/sites/cleanbc/footer-forest-bg-image-01.jpg);
		background-position: center bottom;
		background-size: auto;

		@media (min-width: $breakpoint-md) {
			background-size: contain;
		}

		@media (min-width: $breakpoint-xl) {
			background-size: cover;
		}
		background-repeat: no-repeat;
	}
}


.advisory-tag {

	p {
		padding: 0.5rem 1.5rem;
	}
}


.four-up-cover-card-feature {
	position: relative;
}


.on-this-page {
	border-width: 8px 0 0 0 !important;
	margin-bottom: 3rem;

	body & {

		h2:not(.is-style-custom),
		h3:not(.is-style-custom),
		h4:not(.is-style-custom) {
			font-size: clamp(1.25rem, 0.25rem + 3.3333vw, 1.25rem) !important;
			border-bottom: 2px solid var(--wp--preset--color--primary-brand);
			line-height: 1.5;
			padding-bottom: 1rem;
		}

	}

	/* stylelint-disable selector-class-pattern */
	.is-image-fill .wp-block-media-text__media,
	img {
		border-bottom-left-radius: 1rem !important;
	}

	.has-media-on-the-right,
	.is-image-fill.has-media-on-the-right {

		.wp-block-media-text__media,
		img {
			border-bottom-left-radius: 0 !important;
			border-bottom-right-radius: 1rem !important;
		}
	}

	ul {
		padding-left: 1rem;

		li:not(.is-style-custom) {
			list-style-type: disclosure-open;
			line-height: 1.7;

			a {
				text-decoration: none;
				padding: 0;

				@media (min-width: $breakpoint-sm) {
					// margin: 0 0.5rem;
				}

				&:hover,
				&:focus {
					outline: 2px solid var(--wp--preset--color--primary-brand);
					outline-offset: 2px;
					border-radius: 3px;
				}
			}
		}
	}
}


.three-up-card-feature {

	> .wp-block-group {
		margin-left: 0;
		margin-right: 0;

		@media (min-width: $breakpoint-sm) {
			margin-left: 2rem;
			margin-right: 2rem;
		}
	}

	.wp-block-columns {
		max-width: 1440px;
		margin: 0 1rem;

		@media (min-width: $breakpoint-sm) {
			gap: 0.5rem;
			margin: 0 auto;
		}

		@media (min-width: $breakpoint-md) {
			gap: 2rem;
		}


		.wp-block-column {
			display: flex;
			align-self: inherit;
		}

		.wp-block-image {
			margin: 0;
		}


		.wp-block-group {
			display: flex;
			flex-direction: column;
			padding: 0 2rem;
			width: 100%;

			.wp-block-group {
				padding: 0 1rem;

				@media (min-width: $breakpoint-lg) {
					padding: 0 2rem;
				}

				&.has-border-color {
					border-bottom-width: 0 !important;
					border-left-width: 0 !important;
					border-right-width: 0 !important;
				}
			}


			&.has-border-color {
				border-bottom-width: 0 !important;
				border-left-width: 0 !important;
				border-right-width: 0 !important;
			}

			body & {

				h2:not(.is-style-custom) {
					font-size: clamp(1.35rem, 0.25rem + 3.3333vw, 2rem) !important;
					line-height: 1.2;
					margin-bottom: 0;
				}

				h3:not(.is-style-custom) {
					font-size: clamp(1.25rem, 0.25rem + 3.3333vw, 1.75rem) !important;
					line-height: 1.2;
					margin-bottom: 0;
				}

				h4:not(.is-style-custom) {
					font-size: clamp(1.15rem, 0.25rem + 3.3333vw, 1.5rem) !important;
					line-height: 1.2;
					margin-bottom: 0;
				}
			}
		}
	}
}


.two-up-card-feature {

	body.cleanbc & {
		margin: 0 auto !important;
		width: 100%;
	}
	padding: 0;

	.wp-block-columns {
		max-width: 1440px;
		margin: 0 auto;


		.wp-block-column {

			border-radius: 1rem;
			display: flex;
			align-self: inherit;
		}

		.wp-block-image {
			margin: 0;
			aspect-ratio: 16 / 7;
			width: 100%;
			border-radius: 1rem 1rem 0 0;

			img {
				width: 100%;
				aspect-ratio: 16 / 7;
				object-fit: cover;
				border-radius: 1rem 1rem 0 0;
			}
		}

		.wp-block-group {
			display: flex;
			flex-direction: column;

			.wp-block-group {

				&.has-border-color {
					border-bottom-width: 0 !important;
					border-left-width: 0 !important;
					border-right-width: 0 !important;
				}

				body & {

					h2:not(.is-style-custom) {
						font-size: clamp(1.35rem, 0.25rem + 3.3333vw, 2rem) !important;
						line-height: 1.2;
						margin-bottom: 0;
					}

					h3:not(.is-style-custom) {
						font-size: clamp(1.25rem, 0.25rem + 3.3333vw, 1.75rem) !important;
						line-height: 1.2;
						margin-bottom: 0;
					}

					h4:not(.is-style-custom) {
						font-size: clamp(1.15rem, 0.25rem + 3.3333vw, 1.5rem) !important;
						line-height: 1.2;
						margin-bottom: 0;
					}
				}
			}
		}
	}
}


.wp-block-media-text {

	.wp-block-media-text {

		&__media {
			height: 100%;

			img,
			video {
				max-width: unset;
				object-fit: cover;
				vertical-align: middle;
				height: 100%;
				width: 100%;
			}
		}

	}
}
