/* stylelint-disable no-descending-specificity */

.cleanbc-info-cards {

	h2,
	h3,
	h4,
	h5,
	h6 {

		body .bcgov-body-content &:not(.is-style-custom) {

			font-size: clamp(1rem, 0.25rem + 3.3333vw, 1.5rem) !important;
		}
	}
}


// In-page Cloud Banner with rounded icon styles.
.in-page-cloud-banner {

	.wp-block-cover {
		border-radius: 1rem;

		img {
			border-radius: 1rem;
		}

		.wp-block-cover {

			&__background {
				border-radius: 1rem;
			}
		}
	}

	.image-column {
		background-color: var(--wp--preset--color--accent);
		border-radius: 50%;
	}
}

// In-page Full width with image Banner.
.in-page-full-width-constrained-section {

	padding: 0;

	.wp-block-media-text {
		max-width: 1440px;
		margin: 0 auto;

		.wp-block-media-text {

			&__media {
				aspect-ratio: initial;

				@media (min-width: $breakpoint-sm) {
					aspect-ratio: 1 / 1;
				}

				img {
					aspect-ratio: initial;

					@media (min-width: $breakpoint-sm) {
						aspect-ratio: 1 / 1;
					}
				}
			}

			&__content {
				padding: 0 0 0 2rem;

				.wp-block-group {
					padding: 0;

					.content-group {
						border-left: 0.5rem solid var(--wp--preset--color--tertiary);
						border-right: none;
						border-top: none;
						border-bottom: none;
						padding: 0 2rem;
						margin-bottom: 2rem;
					}
				}
			}

		}
	}

	.has-media-on-the-right {

		&.wp-block-media-text {

			.wp-block-media-text {

				&__content {
					padding: 0 2rem 0 0;
				}
			}
		}
	}

	&.bordered {

		.wp-block-media-text,
		&.wp-block-media-text.is-image-fill {

			border-radius: 1rem;

			.wp-block-media-text {

				&__content {
					padding: 0;

					.wp-block-group:not(.wp-block-group > .wp-block-group) {
						padding-left: 2rem;
						border-width: 0.5rem;
						border-right: none;
						border-left: none;
						border-bottom: none;
						border-radius: 0 1rem 0 0;
						display: flex;
						flex-direction: column;
						min-height: 400px;
						justify-content: center;
					}

					.content-group {

						h2,
						h3,
						h4,
						h5,
						h6 {
							margin-top: 0;
						}
					}

				}

				&__media {
					aspect-ratio: initial;
					border-radius: 1rem 0 0 1rem;

					img {
						aspect-ratio: initial;
						border-radius: 1rem 0 0 1rem;
					}
				}
			}

		}

		.has-media-on-the-right {

			.wp-block-media-text,
			.wp-block-media-text.is-image-fill {

				.wp-block-media-text,
				&__media {
					border-radius: 0 1rem 1rem 0;

					img {
						aspect-ratio: initial;
						border-radius: 0 1rem 1rem 0;
					}
				}

				&__content {
					padding: 0;

					.wp-block-group:not(.wp-block-group > .wp-block-group) {
						padding-left: 2rem;
						padding-right: 0;
						border-radius: 1rem 0 0 0;
					}
				}
			}
		}
	}

	&.floating {

		.wp-block-media-text {

			&__media {
				aspect-ratio: initial;
				border-radius: 1rem;

				img {
					aspect-ratio: initial;
					border-radius: 1rem;
				}
			}
		}
	}
}

.in-page-level-4-top-banner {

	padding: 0;

	.wp-block-cover {
		padding: 0 0 1rem;
	}

	.wp-block-media-text {
		max-width: 1440px;
		margin: 0 auto;

		.wp-block-media-text {

			&__content {
				padding: 0 0 0 2rem;

				.wp-block-group {
					padding: 0;

					.content-group {
						margin-bottom: 2rem;
					}

					img {

						@media ($breakpoint-lg) {
							aspect-ratio: 1 / 1;
						}
					}
				}
			}
		}
	}

	.has-media-on-the-right {

		&.wp-block-media-text {

			.wp-block-media-text {

				&__content {
					padding: 0 2rem 0 0;
				}
			}
		}
	}
}

.in-page-sectors-section {

	.wp-block-columns {
		margin-bottom: 0;
		max-width: 1440px;
		width: 100%;
		margin-left: auto;
		margin-right: auto;
		position: relative;

		.wp-block-column {
			border-radius: 1rem;
			margin-bottom: 3rem;
			position: relative;

			&::after {
				content: attr(data-after-content);
				display: block;
				position: absolute;
				width: 100%;
				font-size: 1.75rem;
				transform: translate(50%, 100%);
				bottom: -1rem;
				right: 50%;
				top: auto;
				text-align: center;
			}

			.wp-block-group {
				aspect-ratio: 1 / 1;
				border-radius: 50%;
				display: flex;
				justify-content: center;
				align-items: center;

				figcaption:not([contenteditable="true"]) {
					display: none !important;
				}

				figcaption[contenteditable="true"] {
					color: var(--wp--preset--color--white);
					font-size: 1.25rem;
				}
			}
		}
	}
}


.territory-acknowledgement {

	border-top: 3px solid var(--wp--preset--color--quinary);

	.wp-block-columns {
		margin-bottom: 0;
		max-width: 1440px;
		width: 100%;
		margin-left: auto;
		margin-right: auto;
		position: relative;

		body.cleanbc & p:not(.is-style-custom) {
			font-size: 0.875rem !important;
			padding: 0 2rem;

			@media (min-width: calc($breakpoint-xl + 2rem)) {
				padding: 0;
			}
		}

	}

}
