/* stylelint-disable no-descending-specificity */

.wp-block-bcgov-collapse,
.wp-block-bcgov-block-theme-collapse {
  padding: 0;
  margin-bottom: 2rem;

  button {
    cursor: pointer;
    background-color: transparent;
    border: none;
    padding: 0;
    font-size: inherit;
  }
  .collapse-container-nav {
  display: flex;
   justify-content: flex-end;
    margin-bottom: 0.5rem;
    button {
      &:hover {
        text-decoration: underline;
      }
    }
    span:not(:last-child) {
      display: inline-block;
      &:not(:last-child) {
        &:after {
          content: "|";
          margin: 0 0.5rem 0;
          text-decoration: none;
          font-size: inherit;
        }
      }
    }
  }
  .wp-block-bcgov-block-theme-collapse-item {
    margin-bottom: 0.5rem;
    .collapse-header {
      h3 {
        margin-bottom: 0;
        margin-top: 0;

        button {
          border-bottom: 4px solid var(--wp--preset--color--tertiary);
          padding: 0.5rem 1rem;
          display: block;
          width: 100%;
          position: relative;
          text-align: left;
          line-height: 1.2;
          span {
            margin-right: 16px;
            display: block;
          }

          &:hover, &:focus {
            background-color: rgba(var(--primary-brand-rgb), 0.05);
          }

          &:after {
            content: " ";
            position: absolute;
            right: 1rem;
            top: 40%;
            border-bottom-style: solid;
            border-bottom-width: 2px;
            border-right-style: solid;
            border-right-width: 2px;
            height: 10px;
            width: 10px;
            transform: rotateZ(225deg);
          }
          &.collapsed {
            &:after {
              top: 25%;
              transform: rotateZ(45deg);
            }
          }
        }
      }
    }
    .collapse-body {
      padding: 1rem;
      h2,
      h3,
      h4,
      h5 {
        margin: 0 0 1rem;
      }
      p {
        margin-bottom: 0.75rem;
        &:last-of-type {
        }
      }

      .collapse-close {
      display: flex;
       justify-content: flex-end;
        margin-bottom: 0.5rem;
      }
    }
    .collapse-container {
      transition: all 0.3s ease-in-out;
      &.show {
        height: auto;
      }
    }
    .collapse-container {
      &.hide {
        height: 0;
        overflow: hidden;
      }
    }
  }
}

@media print {
  .wp-block-bcgov-collapse,
  .wp-block-bcgov-block-theme-collapse {
    margin-bottom: 1rem;
  }
  .collapse-container-nav {
    display: none !important;
  }
  .wp-block-bcgov-block-theme-collapse-item {
    .collapse-container {
      &.show {
        display: block !important;
      }
    }
    .collapse-close {
      &.hide {
        display: none !important;
      }
    }
    .collapse-header {
      button {
        border-bottom: 1px solid #ccc !important;
        background-color: transparent !important;
        padding-left: 0 !important;
        &:after {
          content: "" !important;
          border-width: 0 !important;
        }
      }
    }
    .collapse-body {
      padding-left: 0 !important;
    }
  }
}

/** Admin styles **/
.wp-admin {
  *[data-type="bcgov/collapse"] {
    padding-top: 2rem;
    margin: 1rem 0 0.5rem;
    background-color: var(--wp--preset--color--background);
    &:before {
      content: "Collapse Container";
      position: absolute;
      color: var(--wp--preset--color--white);
      top: 0.2rem;
      left: 0.25rem;
      font-size: 0.8rem;
    }
    .wp-block-bcgov-collapse,
    .wp-block-bcgov-block-theme-collapse {
      background-color: rgba(255, 255, 255, 0.7);
      list-style: none !important;
      padding: 0 !important ;
      margin: 0 0.5rem 2rem !important;
    }
  }

  .block-editor-block-list__block {
    // margin: 0;
  }
}
*[data-type="bcgov/collapse-item"] {
  background-color: rgba(255, 255, 255, 0.9);
  border-bottom-width: 3px;
  &.block-editor-block-list__layout {
    &.block-editor-block-list__block {
      &.is-focus-mode:not(.is-multi-selected):not(.is-focused) {
        background-color: var(--wp--preset--color--white);
      }
    }
  }
}
